$rowHeight: 32px;
$maxHeight: $rowHeight * 3;

@mixin text-ell() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.strong-search {
  width: 400px;
  border: 1px solid;
  border-color: var(--el-border-color);
  border-radius: 4px;
  max-height: $maxHeight;
  display: inline-flex;
  align-items: center;
  transition: var(--el-transition-border);

  .filter-icon {
    width: 16px;
    height: 16px;
    margin-left: 8px;
  }

  .search-scrollbar {
    flex: 1;
    position: relative;
    overflow: visible;
    .el-scrollbar__view {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
      column-gap: 4px;
      padding-left: 6px;
      padding-right: 6px;
    }
  }

  .search-input {
    flex: 1;
    flex-basis: 50%;
    .el-input__wrapper {
      box-shadow: none;
      padding-left: 0;
      padding-right: 0;
    }

    .el-input__prefix-inner {
      padding-right: 4px;
      color: #323538;
    }

    .el-input__suffix-inner {
      column-gap: 6px;
      & > :first-child {
        margin-left: 6px;
      }
      .e-icon {
        width: 18px;
        height: 18px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .tag-item {
    display: inline-flex;
    align-items: center;
    margin: 4px 0;
    font-size: 12px;
    font-weight: 400;
    max-width: 100%;
    border-radius: 2px;
    width: auto;
    padding: 5px 4px 5px 8px;
    background-color: #f3f4f7;
    white-space: nowrap;

    .tag-prefix {
      color: #323538;
      margin-right: 4px;
    }

    .tag-value {
      color: #323538;
      @include text-ell();
    }

    .close-btn {
      color: #a6adb8;
      font-size: 6px;
      cursor: pointer;
      margin-left: 4px;
      display: inline-flex;
      border-radius: 2px;
      width: 14px;
      height: 14px;
      justify-content: center;
      align-items: center;
      &:hover {
        background: rgba(31, 35, 41, 0.08);
        color: #323538;
      }
    }
  }

  &.active {
    border-color: var(--el-color-primary);
    .search-input {
      .el-input__wrapper {
        box-shadow: none;
        &.is-focus {
          box-shadow: none;
        }
      }
    }
  }
}

.search-popover {
  .filter-list {
    .filter-title {
      color: #8a8e99;
      font-weight: 700;
    }

    .filter-content {
      font-size: 12px;
      .filter-item {
        cursor: pointer;
        padding: 6px 12px;
        padding-right: 0;
        @include text-ell();
        &.active {
          color: var(--el-color-primary);
          background-color: #f2f5fc;
        }
      }
    }
  }

  .search-select {
    font-size: 12px;
    .search-option {
      cursor: pointer;
      padding: 6px 12px;
      padding-right: 0;
      @include text-ell();
      &.active {
        color: var(--el-color-primary);
        background-color: #f2f5fc;
      }
    }
  }

  .search-check {
    .el-checkbox {
      padding-left: 2px;
      display: flex;
      margin-right: 0;
      .el-checkbox__label {
        @include text-ell();
      }
      &.active {
        color: var(--el-color-primary);
        background-color: #f2f5fc;
      }
    }
  }

  .search-date {
    .date-title {
      color: #8a8e99;
      font-weight: 700;
      font-size: 13px;
    }
    .tip-title {
      font-size: 13px;
      margin-bottom: 2px;
    }

    .date-content {
      margin-top: 2px;
      .date-start,
      .date-end {
        margin-bottom: 6px;
      }

      .el-date-editor {
        width: 100%;
        display: block;
      }
    }
  }

  .search-popover-footer {
    padding-top: 8px;
    border-top: 1px solid var(--el-border-color);
    text-align: center;
  }
}
